/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f7f7f7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF4081;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF4081;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items:low;
    height: 82vh;
    background-image: url('fundo2.jpeg');
    background-size: cover;
    background-position: low;
    color: #ca6b85;
    text-align: center;
    padding: 15px;	

}

.profile-pic {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-icons .btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.instagram {
    background: #f54e87eb;
}

.tiktok {
    background: #f54e87eb;
}

.whatsapp {
    background: #f54e87eb;
}

.btn:hover {
    opacity: 0.8;
}

/* Services Section */
.services {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.services h2 {
    font-size: 42px;
    color: #FF4081;
    margin-bottom: 40px;
}

.service-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
}

.service-card h3 {
    font-size: 24px;
    color: #FF4081;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 16px;
    color: #666;
}

/* About Section */
.about {
    padding: 50px;
    text-align: center;
    background-color: #FFFAF0;
}

.about h2 {
    font-size: 32px;
    color: #FF4081;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
footer {
    padding: 30px;
    background-color: #333;
    color: white;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .service-grid {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
    }
}
